<div class="container">
    <div class="divOne">
        <h1 class="title">Bio</h1>
        <p class="description">Hi there, I'm Wyatt! I'm a Colorado Native that grew up in a small town in the Rockies.
            Growing up, I had the pleasure of exploring the great mountains of my state. I have many hobbies that have
            evolved into passions of mine. Some of them are as follows:</p>
        <div class="list">
            <ul>
                <li>Hunting</li>
                <li>Fly Fishing</li>
                <li>Hiking</li>
                <li>Mountian Biking</li>
                <li>Camping</li>
                <li>Dirt Biking</li>
                <li>Rock Climbing</li>
                <li>Pretty much anything outdoors!</li>
                <li>Working on trucks</li>
                <li>Most importantly, spending time with my family!</li>
            </ul>
        </div>
        <p class="description"> My family has deep roots in serving our country, ranging from service in the armed
            forces to serving the general public as Police Officers, Firefighters, and EMTs. During high school, I
            decided to follow in their footsteps and pursue training to become an EMT while still a senior. After
            graduating, I tested at the national level to obtain my license to practice as an EMT-B. For many years
            afterward, I had numerous amazing opportunities to work as an EMT-B and Firefighter. I began my journey as a
            Volunteer Resident Firefighter and EMT in my hometown, eventually working as a Professional Firefighter in
            Summit County, Colorado. I served in the heart of the beautiful Rocky Mountains, a fulfilling job that I
            enjoyed until I had the opportunity to take my knowledge to the big city. I was offered a position at South
            Adams County Fire Rescue where, not long after joining, my career ended due to an injury sustained in the
            line of duty.</p>

        <p class="description">After recovering, I was unsure about my life's direction following such a traumatic end
            to my firefighting
            career. Thankfully, my community and family helped me get back on track. While discussing options with close
            friends, some outside the medical field, a few Full Stack Engineers and DevOps Cloud Engineers caught my
            attention. Listening to them discuss their work stirred something within me, bringing back memories of my
            younger days playing on the Playstation 1 and Nintendo 64. I wondered if I had what it takes to develop
            games, software for everyday use, or create new technologies that could change the world. Hearing them talk
            about their impactful work made me explore software development further. After researching programs and
            available options, I came across Bethel College, Bethel School of Technology in Redding, CA.</p>

        <p class="description"> Bethel College offers various programs, including Data Science, UI/UX Design, and Full Stack
            Engineering, in
            multiple languages. Applying my disciplined approach as an EMT and Firefighter, I researched all three and
            decided to choose what I believed to be the most challenging – Full Stack Engineering. The program at Bethel
            College pushed and developed me in many ways. Learning HTML/CSS at the beginning was a breeze, but diving
            into the core aspects of the course, such as C#, Angular, Data Structures/Algorithms, and Databases,
            required serious effort and dedication. The program demands a lot, and the cadre expects a high level of
            commitment. Bethel College is a place where leaders are born. Their curriculum tests your capabilities,
            shaping you into a leader who can positively impact communities and bring out greatness in others. I am
            grateful for the people and the program I completed; it has forever changed me, and I owe them a mountain of
            honor. I am eagerly looking forward to the future and the opportunities this new career will bring. Thank
            you for taking the time to learn about who I am and the passions I hold close. </p>
    </div>
    <br />
    <div class="divTwo">
        <a><button class="button-63" role="button" [routerLink]="['/']">Back</button></a>
    </div>
</div>